Django==3.2.7
CherryPy
social-auth-app-django==5.0.0
django-auth-ldap==3.0.0
pyscrypt
pyaes
openpyxl
sshtunnel
psycopg2-binary
RestrictedPython
cx_Oracle
PyMySQL
sqlparse
pgspecial
django-sass==1.1.0
